* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

img {
    -webkit-user-drag: none;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    /* -ms-overflow-style: none; */
}

/* ::-webkit-scrollbar {
    display: none;
} */

.container {
    padding: 0 100px;
    margin: 0 auto;
}

::selection {
    color: #CE2F2D;
    transition: all 250ms ease-in;
}

::-moz-selection {
    color: #CE2F2D;
    transition: all 250ms ease-in;
}

.scroll {
    width: 60px;
    height: 60px;
    position: fixed;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    z-index: 9999;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
}

.module {
    width: 100%;
    height: 100%;
    display: flex;
}

/* section1 */
#section1 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
}

#section1 .bg-r {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #CE2F2D;
    right: 0;
}

#section1 .svg-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: top;
    z-index: 1;
}

#section1 .svg-wrap.wrap1 {
    top: 30vh;
}

#section1 .svg-wrap.wrap2 {
    top: 45vh;
}

#section1 .svg-wrap.wrap3 {
    top: 60vh;
}

#section1 .svg-wrap img {
    position: fixed;
}

#section1 .bottom {
    bottom: 1.5vw;
    color: #fff;
    text-transform: uppercase;
    font-size: 2vh;
    font-weight: 700;
    line-height: 2.5vh;
    /* opacity: 0; */
}

#section1 .bottom.left {
    left: 2vw;
    position: absolute;
}

#section1 .bottom.right {
    right: 2vw;
    text-align: right;
    position: absolute;
}

/* section2 */
#container1 {
    width: 900vw;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}

#section2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    position: relative;
}

#section2 .module {
    position: absolute;
    left: 100vw;
    width: calc(100% - 200vw);
}

#section2 .huge-text {
    font-family: 'Raleway';
    font-size: 20vw;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-25%);
    text-transform: uppercase;
    white-space: nowrap;
}

#section2 .first-text {
    font-family: 'EliceDigitalBaeum_Regular';
    font-size: 5vw;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 70%;
    transform: translateY(-70%);
    white-space: nowrap;
    margin-left: 20px;
}

#section2 .second-text {
    font-family: 'EliceDigitalBaeum_Regular';
    font-size: 5vw;
    font-weight: 500;
    position: absolute;
    left: 250vw;
    top: 70%;
    transform: translateY(-70%);
    white-space: nowrap;
}

#section2 .first-image {
    position: absolute;
    width: 20vw;
    left: 220vw;
    top: 75%;
    transform: translateY(-75%);
    z-index: -1;
}

#section2 .second-image {
    position: absolute;
    width: 20vw;
    left: 500vw;
    top: 8%;
    transform: translateY(-8%);
    z-index: -1;
}

/* seciton3 */
#section3 {
    height: 700vh;
    width: 100%;
    background-color: #000;
    color: #fff;
}

#section3 .part {
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#section3 .part .left {
    width: 49%;
    height: 100%;
    position: relative;
    display: inline-block;
}

#section3 .part .right {
    width: 49%;
    height: 100%;
    position: relative;
    display: inline-block;
}

#section3 .title {
    font-size: 12vw;
    font-family: "Raleway";
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section3 .down-img {
    width: 1.5vw;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

#section3 .skill-title {
    font-family: "Teko";
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 20vw;
    font-weight: 500;
    color: #000;
    -webkit-text-stroke: 2px white;
    letter-spacing: -8px;
}

#section3 .skill-title span {
    font-size: 12vw;
}

#section3 .skill-percent {
    font-family: 'Teko';
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    font-size: 12vw;
    font-weight: 500;
    color: #000;
    -webkit-text-stroke: 2px white;
    letter-spacing: -8px;
}

#section3 .skill-desc {
    font-family: 'Elice DigitalBaeum';
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    font-size: 1.5vw;
    font-weight: 400;
}

#section3 .left .skill-title {
    right: 0;
}

#section3 .left .skill-percent {
    right: 0;
}

#section3 .left .skill-desc {
    right: 0;
    text-align: right;
}

#section3 .right .skill-title {
    left: 0;
}

#section3 .right .skill-percent {
    left: 0;
}

#section3 .right .skill-desc {
    left: 0;
}

/* seciton4 */
#container2 {
    width: 600vw;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}

#section4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    position: relative;
}

#section4 .module {
    position: absolute;
    left: 100vw;
    width: calc(100% - 200vw);
}

#section4 .huge-text {
    font-family: 'Raleway';
    font-size: 20vw;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-25%);
    text-transform: uppercase;
    white-space: nowrap;
}

#section4 .huge-text span {
    color: transparent;
    -webkit-text-stroke: 5px white;
}

#section4 .first-text {
    font-family: 'EliceDigitalBaeum_Regular';
    font-size: 5vw;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 70%;
    transform: translateY(-70%);
    white-space: nowrap;
    margin-left: 20px;
}

/* seciton5 */
#section5 {
    height: 800vh;
    background-color: #fff;
}

#section5 .part {
    height: 200vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: block;
}

#section5 .alpah {
    font-family: 'Raleway';
    font-size: 30vw;
    font-weight: 700;
}

#section5 .title {
    font-family: 'Raleway';
    font-size: 5vw;
    font-weight: 100;
    margin-bottom: 20px;
}

#section5 .desc {
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.1vw;
    width: 60vw;
    line-height: 2vw;
}

#section5 a {
    width: 10vw;
    font-family: 'Raleway';
    border: 1px solid #000;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    transform: translateY(50px);
    transition: all .3s;
}

#section5 a:hover {
    color: #fff;
    background-color: #000;
}

#section5 img {
    width: 50vw;
    display: inline-block;
}

#section5 .left {
    float: left;
}

#section5 .right {
    float: right;
}

#section5 .part.right .alpah {
    text-align: right;
    color: #CE2F2D;
}

#section5 .part.right .title {
    text-align: right;
    color: #CE2F2D;
}

#section5 .part.right .desc {
    text-align: right;
    margin-left: auto;
}

/* section6 */
#container3 {
    width: 1300vw;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}

#section6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    position: relative;
}

#section6 .module {
    position: absolute;
    left: 100vw;
    width: calc(100% - 200vw);
}

#section6 .huge-text {
    font-family: 'Raleway';
    font-size: 20vw;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}

#section6 .huge-text span {
    color: transparent;
    -webkit-text-stroke: 5px white;
}

#section6 .flex-module {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

#section6 .iframe-box {
    position: relative;
    height: 80vh;
    width: 80vw;
    margin: 0 20px;
}

#section6 .iframe-box .effect {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* seciton7 */
#section7 {
    height: 700vh;
    background-color: #fff;
    position: relative;
}

#section7 .part {
    height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-top: 25vh;
}

#section7 .part.black {
    background-color: #000;
    margin-top: 0;
}

#section7 .part-bridge {
    height: 100vh;
    width: 100%;
    display: block;
    background: linear-gradient(to bottom, black, white);
}

#section7 .title {
    font-family: 'Raleway';
    font-size: 10vw;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section7 .left {
    width: 50%;
    height: calc(100% - 200vh);
    float: left;
    padding-left: 100px;
}

#section7 .left h2 {
    color: #CE2F2D;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 20vw;
    position: sticky;
    top: 55vh;
}

#section7 .left h2 span {
    font-size: 16vw;
}

#section7 .right {
    width: 50%;
    height: 100%;
    float: right;
}

#section7 .ani-number {
    font-family: 'Teko';
    font-size: 14vw;
    color: #eee;
    display: inline-block;
}

#section7 .ani-title {
    font-family: 'Chosunilbo_myungjo';
    font-size: 2vw;
    display: inline-block;
}

#section7 .ani-desc {
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.3vw;
    margin-bottom: 20px;
    margin-top: -50px;
    line-height: 2vw;
}

/* seciton8 */
#section8 {
    height: 100vh;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

#section8 .left {
    width: 50%;
    height: 100%;
}

#section8 .left h2 {
    font-family: 'Raleway';
    font-size: 9vw;
    font-weight: 700;
    color: #E00120;
    position: absolute;
    bottom: 50px;
}

#section8 .part {
    height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: block;
}

#section8 .right {
    width: 50%;
    height: 100%;   
    display: flex;
}

#section8 .right img {
    width: 10vw;
}


@media(max-width: 900px) {
    #section1 .svg-wrap.wrap1 {
        top: 40vh;
    }

    #section1 .svg-wrap.wrap2 {
        top: 50vh;
    }

    #section1 .svg-wrap.wrap3 {
        top: 60vh;
    }
}