.svg-wrap img.s5 {
    height: 5vw;
}

.svg-wrap img.s3h {
    height: 3.4vw;
}

.svg-wrap img.s3 {
    height: 3vw;
}

.svg-wrap img.s2h {
    height: 2.7vw;
}

.svg-wrap img.s2 {
    height: 2vw;
}

.svg-wrap img.s1h {
    height: 1.65vw;
}

.svg-wrap img.s1 {
    height: 1vw;
}

.svg-wrap img.s0 {
    height: 0.33vw;
}

/* first */
.F1-1 {
    left: -19vw;
}

.F1-2 {
    right: 15.5vw;
}

.R1-1 {
    left: -14.5vw;
}

.R1-2 {
    right: 11vw;
}

.O1 {
    left: -10.5vw;
}

.N1 {
    right: 1vw;
}


.T1-1 {
    right: -2.5vw;
}

.T1-2 {
    left: 2.44vw;
}

.E1-1 {
    right: -6vw;
}

.E1-2 {
    left: 6vw;
}

.N1-2 {
    right: -14vw;
}

.D1-1 {
    left: 15vw;
}

.D1-2 {
    right: -15vw;
}

/* second */
.D2 {
    left: -21vw;
}

.E2-1 {
    right: 15.5vw;
}

.E2-2 {
    left: -15.5vw;
}

.V2 {
    right: 7vw;
}

.E2-3 {
    right: 5.5vw;
}

.E2-4 {
    left: -5.5vw;
}

.L2-1 {
    right: 1vw;
}

.L2-2 {
    left: -1vw;
    top: 4.67vw;
}

.O2 {
    right: -7vw;
}

.P2-1 {
    left: 8vw;
}

.P2-2 {
    right: -11.4vw;
}

.E2-5 {
    left: 12vw;
}

.E2-6 {
    right: -15.3vw;
}

.R2-1 {
    right: -16.5vw;
}

.R2-2 {
    left: 16.5vw;
}

/* third */
.P3-1 {
    right: 19vw;
}

.P3-2 {
    left: -19vw;
}

.A3-1 {
    left: -15.88vw;
    top: 3.4vw;
}

.A3-2 {
    right: 12vw;
}

.R3-1 {
    left: -10.5vw;
}

.R3-2 {
    right: 7.2vw;
}

.K3-1 {
    left: -6vw;
}

.K3-2 {
    right: 2.5vw;
}

.S3 {
    left: -1.5vw;
}

.E3-1 {
    right: -3.5vw;
}

.E3-2 {
    left: 3.5vw;
}

.J3 {
    right: -10vw;
}

.I3 {
    left: 12vw;
}

.N3-1 {
    right: -18vw;
}

.N3-2 {
    left: 18vw;
}