.svg-wrap img.s5 {
    height: 5vw;
}

.svg-wrap img.s3h {
    height: 3.4vw;
}

.svg-wrap img.s3 {
    height: 3vw;
}

.svg-wrap img.s2h {
    height: 2.7vw;
}

.svg-wrap img.s2 {
    height: 2vw;
}

.svg-wrap img.s1h {
    height: 1.65vw;
}

.svg-wrap img.s1 {
    height: 1vw;
}

.svg-wrap img.s0 {
    height: 0.33vw;
}

/* first */
.F1-1 {
    left: -43.3vw;
    /* left: -19vw; */
}

.F1-2 {
    right: -8.5vw;
    /* right: 15.5vw; */
}

.R1-1 {
    left: -39vw;
    /* left: -14.5vw; */
}

.R1-2 {
    right: -13vw;
    /* right: 11vw; */
}

.O1 {
    left: -35vw;
    /* left: -10.5vw; */
}

.N1 {
    right: -23.3vw;
    /* right: 0.8vw; */
}

.T1-1 {
    right: -26.5vw;
    /* right: -2.5vw; */
}

.T1-2 {
    left: -22vw;
    /* left: 2.44vw; */
}

.E1-1 {
    right: -30.2vw;
    /* right: -6vw; */
}

.E1-2 {
    left: -18.5vw;
    /* left: 6vw; */
}

.N1-2 {
    right: -38.2vw;
    /* right: -14vw; */
}

.D1-1 {
    left: -9.5vw;
    /* left: 15vw; */
}

.D1-2 {
    right: -39.2vw;
    /* right: -15vw; */
}

/* second */
.D2 {
    left: -44.3vw;
    /* left: -20vw; */
}

.E2-1 {
    right: -9.2vw;
    /* right: 14.8vw; */
}

.E2-2 {
    left: -39.3vw;
    /* left: -14.8vw; */
}

.V2 {
    right: -17.5vw;
    /* right: 6.5vw; */
}

.E2-3 {
    right: -18.5vw;
    /* right: 5.5vw; */
}

.E2-4 {
    left: -30vw;
    /* left: -5.5vw; */
}

.L2-1 {
    right: -23vw;
    /* right: 1vw; */
}

.L2-2 {
    left: -25.5vw;
    /* left: -1vw; */
    top: 4.67vw;
}

.O2 {
    right: -31vw;
    /* right: -7vw; */
}

.P2-1 {
    left: -16.5vw;
    /* left: 8vw; */
}

.P2-2 {
    right: -35.3vw;
    /* right: -11.4vw; */
}

.E2-5 {
    left: -12.5vw;
    /* left: 12vw; */
}

.E2-6 {
    right: -39vw;
    /* right: -15.3vw; */
}

.R2-1 {
    right: -40.5vw;
    /* right: -16.5vw; */
}

.R2-2 {
    left: -8vw;
    /* left: 16.5vw; */
}

/* third */
.P3-1 {
    right: -5.5vw;
    /* right: 18.5vw; */
}

.P3-2 {
    left: -43vw;
    /* left: -18.5vw; */
}

.A3-1 {
    left: -40vw;
    /* left: -15.38vw; */
    top: 3.4vw;
}

.A3-2 {
    right: -12.5vw;
    /* right: 11.5vw; */
}

.R3-1 {
    left: -34.5vw;
    /* left: -10vw; */
}

.R3-2 {
    right: -17.5vw;
    /* right: 6.5vw; */
}

.K3-1 {
    left: -29.7vw;
    /* left: -5.2vw; */
}

.K3-2 {
    right: -22.5vw;
    /* right: 1.5vw; */
}

.S3 {
    left: -25vw;
    /* left: -0.5vw; */
}

.E3-1 {
    right: -28.5vw;
    /* right: -4.5vw; */
}

.E3-2 {
    left: -20vw;
    /* left: 4.5vw; */
}

.J3 {
    right: -35vw;
    /* right: -11vw; */
}

.I3 {
    left: -12vw;
    /* left: 12.5vw; */
}

.N3-1 {
    right: -42vw;
    /* right: -18vw; */
}

.N3-2 {
    left: -6.5vw;
    /* left: 18vw; */
}